<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=localhost;Initial Catalog=Contacts;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="cnn" connectionString="Data Source=localhost;Initial Catalog=Contacts;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>